body {
  margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif;
}
section {
  height: 100vh;
  padding-bottom: 100px;
}
.header-section {
  background-color: #e5e5e5;
  padding-top: 2%;
}
.half-box {
  width: 43%;
  float: left;
  margin-left: 5%;
  padding-left: 2%;
}
.header-section img {
  width: 100%;
  position: left;
}
h1 {
  font-size: 55px;
  line-height: 1.2em;
  padding-top: 15%;
  font-weight: 700;
  color: #575757;
}
p {
  font-size: 20px;
  color: #828282;
  line-height: 1.2em;
  margin-bottom: 80px;
  padding-right: 12%;
  text-align: justify;
}
.btn-link {
  text-decoration: none;
  font-size: 18px;
  color: #fff;
  background-image: linear-gradient(900deg, tomato, orange);
  padding: 18px 45px;
  border-radius: 50px;
}
.orange {
  color: orange;
}
.about-section {
  background-image: url(images/shapes/7.png);
  background-repeat: no-repeat;
  background-position: top;
  padding: 4% 5% 0%;
}
.about-section img {
  width: 66%;
}
h2 {
  font-size: 40px;
  color: #707070;
  margin-top: 15%;
}
